/* .image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.image-card img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

button {
  margin: 20px auto;
  display: block;
}


 */
